<div class="card">
    
    @if(this.isAuthenticated) {
        <div class="flex justify-end mb-4">
            <p>Usuário: {{ this.getName() }}</p>
        </div>
    } 
    
    <div class="flex justify-between">
        <div class="font-semibold text-xl mb-4">Planos de ação</div>
        <!-- <a routerLink="/cadastrar" class="p-button font-bold">
            <i class="pi pi-plus"></i> Cadastrar
        </a> -->
        <a routerLink="./cadastro/dados-basicos" class="p-button font-bold">
            Cadastrar
        </a>
    </div>
    <p-table [value]="planosAcao" stripedRows [tableStyle]="{'min-width': '50rem'}">
        <ng-template #header>
            <tr>
                <th>Título</th>
                <th>Escola</th>
                <th>Status</th>
                <th>Data de inicio</th>
                <th>Data fim</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-plano>
            <tr>
                <td>{{ plano.titulo }}</td>
                <td>{{ plano.escola.nome }}</td>
                <td>{{ plano.status.descricao }}</td>
                <td>{{ plano.dataInicio | date:'dd/MM/YYYY' }}</td>
                <td>{{ plano.dataFim | date:'dd/MM/YYYY' }}</td>
                <td>
                    <a routerLink="./edicao/{{plano.id}}/dados-basicos" class="p-button p-button-icon-only p-button-text font-bold" aria-label="Editar">
                        <i class="pi pi-pencil"></i>
                    </a>
                    <p-button icon="pi pi-trash" aria-label="Excluir" (onClick)="excluir(plano.id)" [text]="true" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-toast />
