<div style="padding: 2px; border-radius: 10px; background: linear-gradient(90deg, rgba(145, 210, 204, 0.2), rgba(160, 210, 250, 0.2)), linear-gradient(180deg, rgba(187, 199, 205, 0.2), rgba(145, 210, 204, 0.2))">
    <div class="flex flex-column items-center p-4 bg-surface-0 dark:bg-surface-900 h-full" style="border-radius: 8px">
        <div class="flex items-center justify-center bg-teal-200" style="width: 3.5rem; height: 3.5rem; border-radius: 10px">
            <i class="pi pi-fw pi-file-edit !text-2xl text-teal-700"></i>
        </div>
        <div class="block ml-6">
            <div class="mb-2 text-surface-900 dark:text-surface-0 text-xl font-semibold"><span class="text-2xl">{{ qtdPlanosAcao }}</span> planos de ação cadastrados!</div>
            <a class="text-surface-600 dark:text-surface-200" href="/planos-acao">Ir para planos de ação <i class="pi pi-external-link !text-sm pl-1"></i></a>
        </div>
    </div>
</div>