<form [formGroup]="form" *ngIf="form" class="form">
    <p-fluid>
        <div class="pt-5 pb-4">
            <p-floatlabel>
                <input id="titulo" pInputText formControlName="titulo" />
                <label for="titulo">{{ this.formConfig.labels.titulo }}</label>
            </p-floatlabel>
        </div>
    
        <div class="flex flex-row justify-stretch gap-4 pt-4 pb-4 w-full">
            <p-floatlabel class="grow">
                <p-datepicker formControlName="dataInicio" inputId="dataInicio" showIcon iconDisplay="input"  />
                <label for="dataInicio">{{ this.formConfig.labels.dataInicio }}</label>
            </p-floatlabel>
    
            <p-floatlabel class="grow">
                <p-datepicker formControlName="dataFim" inputId="dataFim" showIcon iconDisplay="input" />
                <label for="dataFim">{{ this.formConfig.labels.dataFim }}</label>
            </p-floatlabel>
        </div>

        <div class="flex flex-row justify-stretch gap-4 pt-4 pb-4 w-full">
            <p-floatlabel class="grow">
                <p-select formControlName="escola" inputId="over_label" [options]="escolas" optionLabel="nome"  styleClass="w-full" />
                <label for="over_label">{{ this.formConfig.labels.escola }}</label>
            </p-floatlabel>
    
            <p-floatlabel class="grow">
                <p-select formControlName="status" inputId="over_label" [options]="status" optionLabel="descricao"  styleClass="w-full" />
                <label for="over_label">{{ this.formConfig.labels.status }}</label>
            </p-floatlabel>
        </div>
    
        <div class="pt-4 pb-4">
            <p-floatlabel>
                <textarea pTextarea id="descricao" formControlName="descricao" rows="5" cols="30" style="resize: none" class="h-full"></textarea>
                <label for="descricao">{{ this.formConfig.labels.descricao }}</label>
            </p-floatlabel>
        </div>
    </p-fluid>

    <div class="pt-4 flex justify-end">
        <p-button 
            label="Avançar" 
            icon="pi pi-arrow-right" 
            iconPos="right" 
            [disabled]="desabilitaAvancar()"
            (onClick)="avancar()" />
    </div>
</form>