<div class="form" *ngIf="!!melhorias">
    <div class=" pt-8" *ngFor="let melhoria of melhorias; let iMelhoria = index">
        <div class="flex justify-between">
            <h2>{{melhoria.titulo}}</h2>
            <p-button label="Adicionar ação" icon="pi pi-plus" (onClick)="adicionarAcao(melhoria)"/>
        </div>

        <ng-container *ngIf="melhoria.indPossuiAcoes">
            <p-table [value]="melhoria.acoes" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template #header>
                    <tr>
                        <th>{{ formConfig.labels.descricao }}</th>
                        <th>{{ formConfig.labels.dataInicioPrevisto }}</th>
                        <th>{{ formConfig.labels.dataFimPrevisto }}</th>
                        <th>{{ formConfig.labels.responsavel }}</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template #body let-acao>
                    <tr>
                        <td>{{ acao.descricao }}</td>
                        <td>{{ acao.dataInicioPrevisto | date:'dd/MM/YYYY' }}</td>
                        <td>{{ acao.dataFimPrevisto | date:'dd/MM/YYYY' }}</td>
                        <td>{{ acao.responsavel?.nome }}</td>
                        <td>
                            <p-button icon="pi pi-pencil" aria-label="Editar" (onClick)="editarAcao(melhoria, acao)" [text]="true" />
                            <p-button icon="pi pi-trash" aria-label="Excluir" (onClick)="excluirAcao(melhoria, acao)" [text]="true" />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>

        <ng-container *ngIf="!melhoria.indPossuiAcoes">
            <p>Nenhuma ação cadastrada para esta melhoria.</p>
        </ng-container>
    </div>
    
    <div class="pt-6 flex justify-end">
        <p-button 
            label="Avançar" 
            icon="pi pi-arrow-right" 
            iconPos="right" 
            (onClick)="avancar()" />
    </div>
</div>

<app-modal-cadastrar-acao
    #modalCadastrarAcao
    (atualizaAcao)="atualizaAcao($event)"
></app-modal-cadastrar-acao>

<p-toast />